$minwidth:600px;

.js-show {
  display:block !important;
}

/* ----------------------------------------------------------- GENERAL */
body {
  font-size:62.5%;
  line-height:150%;
  font-family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;
  text-align: center;
  color: #333;
  background:#eaeaea;
  overflow:hidden;
}
html {
  overflow:hidden;
}


*, html, body, div, form { margin: 0; padding: 0; border: 0 none;}

ul, ol, dl {
  margin: 0;
  list-style: none;
}

li, dt, dd {
  list-style: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  clear: both;
  width: 100%;
  color: #fff;
  border: none;
  background: #fff;
  font-size: 0.1em;
  line-height: 0.1em;
}

img {
  border:none;
}

abbr {
  border: 0;
  text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - APP */
#app{
  width:100%;
  border:none;
  margin:0;
  padding:0;
  text-align:left;
  overflow:hidden;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - FIND HOME */
.find-main{
  width:53em;
  position:absolute;
  top:50%;
  margin-top:-6em;
  left:50%;
  margin-left:-26.5em;
  overflow:visible;
}
.find-main .find-logo{
  overflow:visible;
  display:block;
  height:6em;
  top:-4em;
  position:relative;
  text-align:center;
}
.find-main .find-logo img{

  margin:0 auto;
}
.find-main .search-main{
  position:relative;
  overflow:visible;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - INFOTASKS */
#infotasks{
  min-width:$minwidth;
  background:#fff;
  width:100%;
  padding:0;
  height:6em;
  border-bottom:1px solid #ccc;
  position:absolute;
  z-index:1;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - UNDO */
.undo{
  display:block;
  position:absolute;
  z-index:90;
  width: 100%;
  text-align:center;
  overflow:visible;

  p{
    font-size:1.4em;
    display:inline;
    text-align:center;
    width:auto;

    span{
      background:#bde0ec;
      padding:0.5em 1em;
      border:1px solid #98d3e7;
      border-bottom-left-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-bottom-right-radius: 4px;
      box-shadow: 0.3em 1em 3em #666;

      a{
        text-decoration: underline;
        color:#02a0dd;
        font-weight:bold;
      }
      display:inline-block;*display:inline;zoom:1;
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - FIND SEARCH */
.search-main {
  background:#fff;
  width:auto;
  height:3.4em;
  display:block;
  border-top:1px solid #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position:absolute;
  top:50%;
  margin-top:-1.7em;
  margin-left:2em;

  .search-border {
    border:1px solid #ececec;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }

  legend, label{
    display:none;
  }
  div {
    float:left;
    display:block;
  }
  input, button {
    border:none;
    font-size:1.5em;
  }
  div.search-text{
    background:url(../imgs/bg.separator-25.png) 100% 0.5em no-repeat;
    width:28em;
  }
  input.search-text{
    background:url(../imgs/ico.button-18-pencil-off.png) 0 50% no-repeat;
    padding:0.5em 1em 0.5em 2em;
    margin:0 0 0 1em;
    width:14em;
    float:left;
    opacity:0.80;
  }
  input.search-text:hover{
    opacity:1.00;
  }
  input.search-text:focus{
    outline: none;
  }
  div.search-filetype{
    background:url(../imgs/bg.separator-25.png) 100% 0.5em no-repeat;
    padding:0 1px 0 0;
    position:relative;
  }
  .search-filetype {
    #filetype_select {
      &.loading {
        height:3.4em;
        overflow:hidden;
      }
      list-style:none;
      position:absolute;
      left:0px; top:0px;
      width: auto;

      cursor:pointer;
      background:#fff;
      box-shadow: 0.3em 1em 3em #666;

      > li {
        border: none;
        border-bottom:1px solid #ccc;
        padding:0em;
      }
    }
    span {
      width:8em;
      font-size:1.5em;
      padding:0.6em 1.5em 0.7em 2.5em;
      display:block;
      color:black;
      background-repeat: no-repeat;

      &:hover{
        background-color:#eee;
      }

      &.all{
        background-image:url(../imgs/ico.filetype-18-all-off.png);
        background-position:0.5em 0.55em;
      }
      &.video{
        background-image:url(../imgs/ico.filetype-18-vid-off.png);
        background-position:0.6em 0.55em;
      }
      &.audio{
        background-image:url(../imgs/ico.filetype-18-mus-off.png);
        background-position:0.6em 0.55em;
      }
      &.image{
        background-image:url(../imgs/ico.filetype-18-img-off.png);
        background-position:0.5em 0.55em;
      }
      &.document{
        background-image:url(../imgs/ico.filetype-18-doc-off.png);
        background-position:0.6em 0.55em;
      }
      &.software{
        background-image:url(../imgs/ico.filetype-18-pc-off.png);
        background-position:0.4em 0.55em;
      }
    }
  }

  button{
    height:1.8em;
    width:auto;
    margin:0.2em 0.4em 0em;
    padding:0.3em 0.4em;
    background:#fff;
    cursor:pointer;
    display:inline-block;*display:inline;zoom:1;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - CONTENT */
#content{
  background:#eaeaea;
  position:absolute;
  left:0px;
  top:62px;
  bottom:0px;
  right:0px;
  overflow-x:auto;
  overflow-y:scroll;

  #no-results {
    display:none;
  }

  &.no-results {
    #no-results {
      display:block !important;
    }
  }
}

#loading-results {
  width:90%;
  background:#eaeaea;
  text-align:center;
  margin:0 auto;
  overflow: hidden;

  div{
    background:url(../imgs/ico.loader.gif) 50% 50% no-repeat;
    width:5em;
    padding:5em;
    margin:0 auto;
    overflow: hidden;
    display: block;
    text-align:center;
  }

}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - RESULT ITEM */
.result-item {
  *float:left;
  min-width:$minwidth;
  border-top:1px solid #f5f5f5;
  border-bottom:1px solid #ccc;
  background-repeat: no-repeat;
  height:6em;
  overflow:hidden;
  background-position: 1.5em 1.5em;
}
.result-odd{
  background-color:#eaeaea;
}
.result-even{
  background-color:#dedede;
}
.result-item:hover{
  background-color:#bde0ec;
}
.result-unknown{
  background-image:url(../imgs/ico.filetype-24-all-off.png);
}
.result-video{
  background-image:url(../imgs/ico.filetype-24-vid-off.png);
}
.result-audio{
  background-image:url(../imgs/ico.filetype-24-mus-off.png);
}
.result-document{
  background-image:url(../imgs/ico.filetype-24-doc-off.png);
}
.result-software{
  background-image:url(../imgs/ico.filetype-24-pc-off.png);
}
.result-image{
  background-image:url(../imgs/ico.filetype-24-img-off.png);
}

.result-more-info, .result-more-actions {
  display:none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - result item - EXPANDED */

.result-expanded{
  height:auto;

  .result-more-info{
    display:block;
    clear:left;
    float:left;
    width:100%;

    .result-more-info-photo{
      float:left;
      margin-top:1em;
      margin-right:2em;
      img {
        max-width:13em;
      }
    }
    .result-more-info-text{
      float:none;
      padding-right:2em;
      margin-right:1.4em;
      p {
        font-size:1.2em;
        margin-top:1em;
      }
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - RESULTS */
.wrap-result, .wrap-result-title {
   float: left;
   width: 100%;
}
.result-main-data{
  margin-left:7em;
  background:url(../imgs/bg.separator-50.png) 100% 0.5em no-repeat;
  overflow:hidden;
  margin-right:18em;
  padding-bottom:2em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - TITLE & INFO */
div.result-title-info{
  margin:1em 18em 0 0;

  p {
    white-space:nowrap;
    font-size:1.6em;
    font-style:italic;
    font-weight:bold;
    line-height:1.3em;
    text-overflow:ellipsis;
    overflow:hidden;

    strong{
      color:#19bffe;
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - INFO */
ul.result-info {
  margin-top:0.5em;

  li {
    float:left;
  }
  span{
    font-size:1.1em;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - info - SEEDS & LEECHERS */
  .sele-rating{
    padding-left:2.5em;
  }
  .sele-rating-0{
    background:url(../imgs/ico.signal-0.gif) 0 50% no-repeat;
  }
  .sele-rating-1{
    background:url(../imgs/ico.signal-1.gif) 0 50% no-repeat;
  }
  .sele-rating-2{
    background:url(../imgs/ico.signal-2.gif) 0 50% no-repeat;
  }
  .sele-rating-3{
    background:url(../imgs/ico.signal-3.gif) 0 50% no-repeat;
  }
  .sele-rating-4{
    background:url(../imgs/ico.signal-4.gif) 0 50% no-repeat;
  }
  .sele-size{
    font-weight:bold;
    padding-left:2em;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - RATING & LOVE */
div.result-rating-love{
  float: right;
  width: 18em;
  margin:1.3em 0 0 -18em;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - rating & love - RATING */
div.result-rating{
  float:left;
  margin:1em 1em 0 0;
  font-family: 'Arial Unicode MS',Arial;

  p {
   color:#19c0ff;
   font-size:1.4em;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - rating & love - LOVE */
div.result-love {
  float:left;

  li{
    float:left;
  }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ACTIONS */


div.result-actions{
  float: right;
  width: 18em;
  margin-left: -18em;
  padding:1.3em 0em;
  ul.result-actions{
    text-align:center;
    overflow:hidden;
    width:auto;
    float:left;
    margin-left:1em;

    li {
      vertical-align:top;
      p {
        vertical-align:baseline;
        padding-top:0.1em;
        padding-bottom:0.1em;
      }
      display:inline-block;*display:inline;zoom:1;
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - actions - EXPANDED */
.result-expanded {
  div.result-title-info p {
    white-space:normal;
    word-wrap: break-word;
    overflow:visible;
  }

  .result-more-actions{
    display:block;
    float:left;
  }

  .result-action-info {
    a {
      cursor:pointer;
    }
    position:relative;
    overflow:visible;
    padding-bottom:1em;
    margin-bottom:0.3em;
    background:url(../imgs/ico.arrow-down-on.png) 45% 100% no-repeat;
  }
 .result-more-actions{
    ul{
      li{
        float:left;
      }
    }
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BUTTONS */
.button{
  width:auto;
  padding:0.6em 1em;
  margin:0 0.5em 0 0;
  opacity:0.80;
  cursor:pointer;
  filter:alpha(opacity=80); /* <IE8 */
  @include rounded-corners(2px);
  display:inline-block;*display:inline;zoom:1;
}

.button:hover{
  opacity:1.0;
  filter:alpha(opacity=100); /* <IE8 */
}
.button p{
  font-size:1.6em;
  padding:0.2em 0 0.2em 0.4em;
  float:left;
  text-transform:lowercase;
  font-weight:normal;
  font-style:italic;
}
.button img{
  float:left;
}

.button-off{
  background:#ccc;
  border:1px solid #bababa;
  span img:first-child + img {
    display:none;
  }
}
.button-on{
  background:#19bffe;
  border:1px solid #17afe8;
  span img:first-child {
    display:none;
  }
}
.button-off:hover{
   background:#ccc url(../imgs/bg.button-off.png) 50% 50% repeat-x;
}
.button-on:hover{
  background:#19bffe url(../imgs/bg.button-on.png) 50% 50% repeat-x;
}
.button-off p{
  color:#6c6c6c;
}
.button-on p{
  color:#fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ERROR PAGE */
.error {
  position:absolute;
  margin-top:-21em;
  top:50%;
  left:50%;
  width:50em;
  margin-left:-25em;

  .error-img{
    height:28em;
    text-align: center;
    top:0;
    img{
      margin:0 auto;
    }
  }

  .error-text{
    margin:2em 0em 5em;

    p {
      text-align: center;
      color: #333;
      font-size:1.4em;
      line-height:1.4em;

      &.error-title{
        font-size:1.8em;
        font-weight:bold;
        margin-bottom:1em;
      }
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - REPORT */
#report {
  background:#0080b2;
  z-index:1;
  position:absolute;
  width:40em;
  height:48em;
  top:50%;
  left:50%;
  margin-left:-20em;
  margin-top:-24em;
  display:none;

  ul{
    width:100%;
    margin:0 0 1em;

    li{
      width:100%;
      padding:0.5em 0;
    }
  }

  label, input, textarea, p, button{
    float:left;
    font-size:1.2em;
  }

  .wrong {
    background-color:#ffc;
    border:1px solid #ffc;
  }

  input{
    padding:0.5em 1em;
    margin:0 0.5em 0 0;
    background: #fff;
    display: block;
    border-top: 1px solid #d2d2d2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }
  label{
    color:#fff;
    padding:0.5em;
    margin:0 0.5em 0 0;
    background: none;
    display: block;
    a{
      color:#19bffe;
    }
  }
  textarea{
    padding:0.5em 1em;
    margin:0 0.5em 0 0;
    border-top: 1px solid #d2d2d2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }
  ul li p{
    padding:0.5em;
    margin:0 0.5em 0 0;
  }
  button {
    padding:0.5em 1em;
    margin:0 0.5em 0 0;
    background: #ccc;
    border-top: 1px solid #d2d2d2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor:pointer;
  }
  input.checkbox, input.radio{
    padding:0;
    margin:0.6em 0.5em 0.4em 0.05em;
    display: block;
    width:auto;
    border-top: 1px solid #d2d2d2;
  }
  .submit{
    margin:1em 1em;
  }
  input.shortest, label.shortest, select.shortest, textarea.shortest{
    width:2em;
  }
  input.veryshort, label.veryshort, select.veryshort, textarea.veryshort{
    width:3.5em;
  }
  input.short, label.short, select.short, textarea.short{
    width:7em;
  }
  input.medium, label.medium, select.medium, textarea.medium{
    width:14em;
  }
  input.large, label.large, select.large, textarea.large{
    width:21em;
  }
  input.verylarge, label.verylarge, select.verylarge, textarea.verylarge{
    width:28em;
  }
  input.long-auto, label.long-auto, select.long-auto, textarea.long-auto{
    width:auto;
  }
  .label-textright{
    text-align:right;
  }
  .margin-left2{
    margin-left:2em !important;
  }
  .margin-left3{
    margin-left:3em !important;
  }
}
