@import "../../../../common/common";


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - PLAY & SETTINGS - GENERAL */

.play, .settings{
  width: 100%;
  margin: 0 auto;
}
.play-wrapright, .settings-wrapright{
  float: left;
  width: 100%;
  min-height: 40em;
  background-color: #eaeaea;
}
.play-breadcrumbs, .play-items, .settings-options{
  margin-left: 18em;
}
.play-breadcrumbs{
  background-color:#0080b2;
}
.play-items, .settings-options{
  overflow-y:scroll;
  background-color:#eaeaea;
}
.play-left, .settings-left{
  float: left;
  width: 18em;
  min-height: 40em;
  margin-left: -100%;
  background-color: #02a0dd;
  padding-bottom:100em;
  margin-bottom:-100em;
}

.play-category, .settings-category{
  margin-top:6em;
  padding-left:2em;
}
.play-category li, .settings-category li{
  font-size:1.5em;
  text-transform: uppercase;
}
.play-category li a, .settings-category li a{
  display:block;
  padding:0.75em 1em 0.75em 1.8em;
  color: #def6ff;
}
.play-category li:hover a, .settings-category li:hover a{
  color: #fff;
}
.play-category li.play-selected, .settings-category li.settings-selected{
  background:url(../imgs/bg.category-menu-selected.png) top right repeat-y;
}

.section-title, .section-subtitle,  .section-subtitle2{
  padding:0.2em 0;
  margin:0 0 1em;
  width:auto;
  display:block;
  font-weight:bold;
  float:left;
  clear:both;
}
.section-title{
  border-bottom:1px solid #ccc;
  font-size:1.5em;
}
.section-subtitle{
  font-size:1.3em;
}
p.section-subtitle2{
  font-size:1.2em;
  font-style:italic;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - PLAY CATEGORIES - LEFT */

.play-category li.play-category-all a{
  background:url(../imgs/ico.filetype-16-all-on.png) 0 50% no-repeat;
}
.play-category li.play-category-recent a{
  background:url(../imgs/ico.filetype-16-recent-on.png) 0 50% no-repeat;
}
.play-category li.play-category-music a{
  background:url(../imgs/ico.filetype-16-mus-on.png) 0 50% no-repeat;
}
.play-category li.play-category-video a{
  background:url(../imgs/ico.filetype-16-vid-on.png) 0 50% no-repeat;
}
.play-category li.play-category-software a{
  background:url(../imgs/ico.filetype-16-pc-on.png) 0 50% no-repeat;
}
.play-category li.play-category-image a{
  background:url(../imgs/ico.filetype-16-img-on.png) 0 50% no-repeat;
}
.play-category li.play-category-doc a{
  background:url(../imgs/ico.filetype-16-doc-on.png) 0 50% no-repeat;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SETTINGS CATEGORIES - LEFT */

.settings-category li.settings-category-general a{
  background:url(../imgs/ico.settings-16-general-on.png) 0 50% no-repeat;
}
.settings-category li.settings-category-connection a{
  background:url(../imgs/ico.settings-16-connection-on.png) 0 50% no-repeat;
}
.settings-category li.settings-category-sharing a{
  background:url(../imgs/ico.settings-16-sharing-on.png) 0 50% no-repeat;
}
.settings-category li.settings-category-downloads a{
  background:url(../imgs/ico.settings-16-downloads-on.png) 0 50% no-repeat;
}
.settings-category li.settings-category-display a{
  background:url(../imgs/ico.settings-16-display-on.png) 0 50% no-repeat;
}
.settings-category li.settings-category-player a{
  background:url(../imgs/ico.settings-16-player-on.png) 0 50% no-repeat;
}
.settings-category li.settings-category-socialmedia a{
  background:url(../imgs/ico.settings-16-socialmedia-on.png) 0 50% no-repeat;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - play BREADCRUMBS */

.play-breadcrumbs ul{
  overflow:hidden;
  width:100%;
  padding-left:3em;
}
.play-breadcrumbs ul li{
  font-size:1.4em;
  overflow:hidden;
  width:auto;
  float:left;
  font-style: italic;
  margin-right:0.6em;
  background:url(../imgs/ico.breadcrumps-separator.png) right 50% no-repeat;
}
.play-breadcrumbs ul li:last-child{
  background:none;
}
.play-breadcrumbs ul li a{
  display:inline-block;
  padding:0.75em 1.2em 0.75em 1.4em;
  background:url(../imgs/ico.filetype-16-fol-on.png) 0 50% no-repeat;
  width:auto;
  color:#fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - play ITEMS */

.play-items{
  padding:1.5em;
}

.file{
  float:left;
  margin:1.5em;
  position:relative;
  overflow:visible;
  background:#dedede url(../imgs/bg.corner-edit-o020.png) bottom right no-repeat;
  width:18em;
  height:22.5em;

  a.a-image, a.a-text{
    color:#333;
    display:block;
  }

  .actions{
    display:none;
  }

  &:hover{
    background:#bde0ec url(../imgs/bg.corner-edit-o020.png) bottom right no-repeat;
  }

  .a-image{

    width:15em;
    height:15em;
    margin:1.5em;
    display:block;
    position:relative;
    overflow:hidden;

    &:hover .play-bg{
      display:block;
      width:15em;
      height:15em;
      background:url(../imgs/bg.dark-for-play.png) top left repeat;
      position:absolute;
      z-index:2;

      .play-button{
        display:block;
        width:15em;
        height:15em;
        background:url(../imgs/ico.button-64-play-on.png) 50% 50% no-repeat;
        position:absolute;
        z-index:3;
      }
    }

    img{
      min-width: 100%;
      max-width: 140%;
      min-height: 100%;
      max-height: 140%;
    }

    .downloading{
      position:absolute;
      overflow:hidden;
      top:13em;
      left:0;
      display:block;
      width:13em;
      height:0.5em;
      background:#6e6e6e;
      margin:0.5em 1em;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;

      .downloaded{
        display:block;
        width:10em;
        height:0.5em;
        background:#19c0ff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
      }
    }
  }

  .a-text{
    padding:0 1.5em 1.5em;
    display:block;
    width:15em;
    height:3em;
    position:relative;
    overflow:hidden;

    &:hover{
      background:url(../imgs/bg.corner-edit.png) bottom right no-repeat;
    }

    em{
      font-style:italic;
    }

    p{
      height:2.6em;
      overflow:hidden;
      font-family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;
      font-size:1.2em;
      font-weight:bold;
      line-height:1.4em;
    }
  }

  .actions{

    margin-top:0.5em;
    overflow:visible;
    position:relative;

    li.reverse-3actions{
      display:block;
      width:auto;
      float:left;
      margin-right:1em;
      overflow:visible;
      position:relative;

      a.action{
        display:block;
        width:1.4em;
        height:1.4em;
      }
    }

    .action-play a.action{
      background:url(../imgs/ico.button-14-play-off.png) 50% 50% no-repeat;
      &:hover{
        background:url(../imgs/ico.button-14-play-on.png) 50% 50% no-repeat;
      }
    }
    .action-info a.action{
      background:url(../imgs/ico.button-14-info-off.png) 50% 50% no-repeat;
      &:hover{
        background:url(../imgs/ico.button-14-info-on.png) 50% 50% no-repeat;
      }
    }
    .action-more a.action{
      background:url(../imgs/ico.button-14-more-off.png) 50% 50% no-repeat;
      &:hover{
        background:url(../imgs/ico.button-14-more-on.png) 50% 50% no-repeat;
      }
    }
  }
}
.filetype{
  width:3.6em;
  height:3.6em;
  display:block;
  position:absolute;
  top:0;
  left:0;
  background:url(../imgs/bg.file-filetype-corner.png) top left no-repeat;

  span{
    width:3.6em;
    height:3.6em;
    display:block;
    position:absolute;
    top:0;
    left:0;
  }

  .filetype-recent{
    background:url(../imgs/ico.filetype-36-recent-cut.png) 0 0 no-repeat;
  }
  .filetype-vid{
    background:url(../imgs/ico.filetype-36-vid-cut.png) 0 0 no-repeat;
  }
  .filetype-mus{
    background:url(../imgs/ico.filetype-36-mus-cut.png) 0 0 no-repeat;
  }
  .filetype-pc{
    background:url(../imgs/ico.filetype-36-pc-cut.png) 0 0 no-repeat;
  }
  .filetype-img{
    background:url(../imgs/ico.filetype-36-img-cut.png) 0 0 no-repeat;
  }
  .filetype-doc{
    background:url(../imgs/ico.filetype-36-doc-cut.png) 0 0 no-repeat;
  }
}


.new{
  font-family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;
  font-size:1.2em;
  display:inline-block;
  width:auto;
  position:absolute;
  z-index:99;
  right:0.7em;
  top:0.7em;
  padding:0.2em 0.5em;
  background:#dc01bb;
  color:#fff;
  text-transform: lowercase;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - play REVERSE */

.reverse{
  background:#6f6f6f;

  &:hover{
    background:#6f6f6f;
  }

  .new{
    display:none;
  }

  a.reverse-close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    float: none;
    width: 3.6em;
    height: 3.6em;
    background: url(../imgs/bg.corner-close.png) 0 0 no-repeat;
    opacity:0.80;
    filter:alpha(opacity=80); /* <IE8 */

    &:hover{
      opacity:1.00;
      filter:alpha(opacity=100); /* <IE8 */
    }
  }

  .info-card{
    padding:1.5em;
  }

  p.title{
    font-family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;
    color:#fff;
    font-size:1.2em;
    height:2.6em;
    overflow:hidden;
    font-size:1.2em;
    font-weight:bold;
    line-height:1.4em;
    color:#19bffe;
    margin-bottom:1em;
  }

  ul{
    margin:0;
    overflow:hidden;
    width:auto;

    li{
      width:auto;
      margin-bottom:0.2em;

      .button{
        width:12.5em;
        height:1.8em;
      }

      ul{
        overflow:hidden;
        width:auto;

        li{
          float:left;
          display:block;
          width:4.2em;
          overflow:visible;

          &.reverse-action-play{
            margin:0 1em;
          }

          a.button{
            width:2em;
          }
        }
      }
    }
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - PLAY SEARCH & TASKS */

.tasks{
  float:left;
  position:absolute;
  top:50%;
  left:2em;
  margin-top:-1.25em;

  p{
    font-family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;
    font-size:1.5em;
    line-height:1.5em;
    height:1.5em;
  }
}

.search-play{
  background:#fff;
  width:auto;
  height:3.4em;
  display:block;
  border-top:1px solid #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position:absolute;
  top:50%;
  margin-top:-1.7em;
  right:6em;
}
.search-play fieldset{
  border:1px solid #ececec;
  height:3.4em;
  display:block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.search-play legend, .search-play label{
  display:none;
}
.search-play div{
  float:left;
  display:block;
}
.search-play input, .search-play select, .search-play button{
  border:none;
  font-size:1.5em;
}
.search-play div.search-text{
  background:url(../imgs/bg.separator-25.png) 100% 0.5em no-repeat;
  width:28em;
  padding:0;
}
.search-play input.search-text{
  background:url(../imgs/ico.button-18-pencil-off.png) 0 50% no-repeat;
  padding:0.5em 1em 0.5em 2em;
  margin:0 0 0 1em;
  width:14em;
  float:left;
  opacity:0.80;
  filter:alpha(opacity=80); /* <IE8 */
}
.search-play input.search-text:hover{
  opacity:1.00;
  filter:alpha(opacity=100); /* <IE8 */
}
.search-play input.search-text:focus{
  outline: none;
}

.search-play button{
  display:inline-block;
  height:1.8em;
  width:auto;
  margin-top:0.2em;
  padding:0.3em 1em;
  background:#fff;
  cursor:pointer;
  opacity:0.80;
  filter:alpha(opacity=80); /* <IE8 */
}
.search-play button:hover{
  opacity:1.00;
  filter:alpha(opacity=100); /* <IE8 */
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BUBBLES */
.bubble{
  position:absolute;
  display:block;
  background:#0080b2;
  width:19em;
  height:16em;
  padding:1em;
  z-index:3;
  top:3.8em;
  left:-13.5em;
  overflow:visible;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0.3em 1em 3em #666;

  .bubble-pin{
    position:absolute;
    display:block;
    background:url(../imgs/bg.bubble-triangle-top.png) 50% 0 no-repeat;
    width:2.5em;
    height:1.3em;
    z-index:2;
    right:4em;
    top:-1.3em;
  }

  a.bubble-close{
    position: absolute;
    top: 0;
    left: 17.5em;
    z-index: 2;
    display: block;
    float: none;
    width: 3.6em;
    height: 3.6em;
    background: url(../imgs/bg.corner-close.png) 0 0 no-repeat;
    opacity:0.80;
    filter:alpha(opacity=80); /* <IE8 */

    &:hover{
      opacity:1.00;
      filter:alpha(opacity=100); /* <IE8 */
    }
  }

  p.title{
    font-size:1.2em;
    margin-bottom:0;
    font-weight:bold;
    color:#19bffe;

    &:hover{
      margin-bottom:0;
    }
  }

  p.subtitle{
    position:relative;
    font-size:1.2em;
    margin-bottom:0.5em;
    font-weight:normal;
    color:#19bffe;

    .cog{
      position:absolute;
      top:0.2em;
      right:0;
    }
  }

  ul{
    width:auto;
    overflow:hidden;

    &.share li{
      float:left;
      width:auto;

      bubble.button{
        position:absolute;
        right:0;
        top:0;
        width:5em !important;
      }
    }
  }

  fieldset{
    border:none;
  }
  legend{
    display:none;
  }
  textarea{
    width:14.4em;
    font-size:1.2em;
    padding:0.5em 0.7em;
  }

  .bubble-more-info{
    clear:both;
    float:left;
    overflow:visible;
    width:auto;

    .bubble-more-info-photo{
      float:left;
      width:9em;
      margin-right:2em;
      overflow:hidden;

      img{
        width:100%;
      }
    }

    .bubble-more-info-text{
      float:none;
      height:13em;
      padding-right:2em;
      margin-right:0;
      overflow:auto;

      p{
        font-size:1.2em;
        line-height:1.4em;
        margin-bottom:1em;
        color:#f5f5f5;

      &:last-child{
        margin-bottom:0;
        }
      }
    }
  }
}

.js-bubble-show {
  display:block !important;
}

/*
.bubble ul li{
  width:auto;
  display:block;
  font-size:1.2em;
  margin-bottom:0.3em;
  float:none;
  clear:both;
  color:#e0e0e0;
  overflow:hidden;
}
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BUTTONS */
.button{
  display:inline-block;
  width:auto;
  padding:0.6em 1em;
  margin:0 0.5em 0 0;
  overflow:hidden;
  position:relative;
  opacity:0.80;
  filter:alpha(opacity=80); /* <IE8 */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  &:hover{
    opacity:1.0;
    filter:alpha(opacity=100); /* <IE8 */
  }

  p{
    font-size:1.4em;
    padding:0.2em 0 0.2em 0.4em;
    float:left;
    text-transform:lowercase;
    font-weight:normal;
    font-style:italic;
    font-weight:bold;
  }

  img{
    float:left;
  }

  .toggle{
    position:absolute;
    top:0.3em;
    right:0.3em;
  }
}

.button-off{
  background:#ccc;
  border:1px solid #bababa;
  span img:first-child + img {
    display:none;
  }

  &:hover{
    background:#ccc url(../imgs/bg.button-off.png) 50% 50% repeat-x;
  }

  p{
    color:#6c6c6c;
  }
}

.button-disabled{
  cursor:default;
  opacity:0.30;
  filter:alpha(opacity=30); /* <IE8 */
  background:#ccc;
  border:1px solid #bababa;
  span img:first-child + img {
    display:none;
  }

  &:hover{
    opacity:0.30;
    filter:alpha(opacity=30); /* <IE8 */
  }

  p{
    color:#6c6c6c;
  }
}
.button-on{
  background:#19bffe;
  border:1px solid #17afe8;
  span img:first-child {
    display:none;
  }

  &:hover{
    background:#19bffe url(../imgs/bg.button-on.png) 50% 50% repeat-x;
  }

  p{
    color:#fff;
  }
}

.bubble .button{
  padding:0.3em 1em 0;
}
.bubble .button p{
 padding:0.1em 0 0.1em 0.2em;
 font-size:1.2em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SETTINGS & REPORT */

.settings-options{
  padding:3em;
}
.report{
  background:#0080b2;
}
.settings-options legend,
.report legend{
   display:none;
}

.settings-options ul, .report ul{
  float:left;
  clear:both;
  width:100%;
  overflow:hidden;
  margin:0 0 1em;
}

.settings-options ul li, .report ul li{
  float:left;
  clear:both;
  width:100%;
  padding:0.5em 0;
  overflow:hidden;
}

.settings-options label, .settings-options input, .settings-options textarea, .settings-options ul li p, .settings-options ul li button,
.report label, .report input, .report textarea, .report ul li p, .report ul li button{
  float:left;
  font-size:1.2em;
}
.settings-options input,
.report input{
  padding:0.5em 1em;
  margin:0 0.5em 0 0;
  background: #fff;
  display: block;
  border-top: 1px solid #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.settings-options select,
.report select{
  margin:0.5em 1.5em 0.5em 1em;
  background: #fff;
  display: block;
  border-top: 1px solid #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.settings-options label,
.report label{
  padding:0.5em;
  margin:0 0.5em 0 0;
  background: none;
  display: block;
}
.report label{
  color:#fff;

  a{
    color:#19bffe;
  }
}
.settings-options textarea,
.report textarea{
  padding:0.5em 1em;
  margin:0 0.5em 0 0;
  background: #fff;
  display: block;
  border-top: 1px solid #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.settings-options ul li p,
.report ul li p{
  padding:0.5em;
  margin:0 0.5em 0 0;
  background: none;
  display: block;
}
.settings-options button
.report button{
  padding:0.5em 1em;
  margin:0 0.5em 0 0;
  background: #ccc;
  display: block;
  border-top: 1px solid #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  cursor:pointer;
}
.settings-options input.checkbox, .settings-options input.radio,
.report input.checkbox, .report input.radio{
  padding:0;
  margin:0.6em 0.5em 0.4em 0.05em;
  display: block;
  width:auto;
  border-top: 1px solid #d2d2d2;
}
.settings-options .submit,
.report .submit{
  margin:0 1em 1em;
}
input.shortest, label.shortest, select.shortest, textarea.shortest{
  width:2em;
}
input.veryshort, label.veryshort, select.veryshort, textarea.veryshort{
  width:3.5em;
}
input.short, label.short, select.short, textarea.short{
  width:7em;
}
input.medium, label.medium, select.medium, textarea.medium{
  width:14em;
}
input.large, label.large, select.large, textarea.large{
  width:21em;
}
input.verylarge, label.verylarge, select.verylarge, textarea.verylarge{
  width:28em;
}
input.long-auto, label.long-auto, select.long-auto, textarea.long-auto{
  width:auto;
}
.label-textright{
  text-align:right;
}
.margin-left2{
  margin-left:2em !important;
}
.margin-left3{
  margin-left:3em !important;
}