/*
Syntax error: Undefined variable: "$license".
        on line 4 of _variables.scss

1: // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BLUBSTER
2: 
3: $color: red;
4: @if $license == blubster {
5:   //default values are for this license
6: } @else if $license == foofind {
7:   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - FOOFIND
8:   $color: blue;
9: } @else if $license == torrents {

Backtrace:
_variables.scss:4
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/script/variable.rb:49:in `_perform'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/script/operation.rb:74:in `_perform'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/script/node.rb:40:in `perform'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:204:in `visit_if'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:432:in `watch_or_update'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.9/bin/scss:9:in `<top (required)>'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/bin/scss:23:in `load'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/bin/scss:23:in `<main>'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/bin/ruby_noexec_wrapper:14:in `eval'
/Users/alberto/.rvm/gems/ruby-2.0.0-p195/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$license\".\A         on line 4 of _variables.scss\A \A 1: // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BLUBSTER\A 2: \A 3: $color: red;\A 4: @if $license == blubster {\A 5:   //default values are for this license\A 6: } @else if $license == foofind {\A 7:   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - FOOFIND\A 8:   $color: blue;\A 9: } @else if $license == torrents {"; }
