{%- macro undo(num) -%}
<span>You've just deleted <strong>{{ num }} file{% if num != 0%}s{% endif %}</strong> from your library. <a href="#">Undo</a></span>
{%- endmacro -%}

{%- macro toolbar_tasks(num, total) -%}
{% if num > -1 %}<strong>{{num}}</strong> of {% endif %}{{total}} files on your {{APP_SHORT_NAME}} library
{%- endmacro -%}

{%- macro breadcrumb(item) -%}
<li>
    <a href="#">{{ item.name }}</a>
</li>
{%- endmacro -%}

{%- macro card(item) -%}
<li class="file{# reverse #}">
    {%- if item.new %}
    <span class="new">New</span>
    {%- endif %}
     <a href="#a" class="a-image">

        <div class="image">
            <div class="filetype">
                <span class="filetype-{{ item.filetype }}"></span>
            </div>
            <span class="play-bg"><span class="play-button"></span></span>
            {% if item.type == "folder" %}
            <img src="blubster/imgs/bg.placeholder-folder.png">
            {% else %}
            <img src="images/chipmunk.png">
            {% endif %}
            <div class="downloading{%if item.progress < 1 %} visible{% endif %}">
                <div class="downloaded" style="width:{{item.progress*100}}%"></div>
            </div>
        </div>
    </a>
    <a href="#b" class="a-text">
        <div class="text">
            <p>{{- item.name -}}</p>
        </div>
    </a>
    <div class="info-card">
        <a href="#" class="reverse-close"></a>
        <p class="title">{{- item.name -}}</p>
        <ul class="reverse-actions">
            <li class="reverse-3actions">
                <ul>
                    <li class="reverse-action-delete">
                        <a href="#" class="button button-off">
                        <span>
                            <img src="blubster/imgs/ico.button-18-trash-off.png">
                            <img src="blubster/imgs/ico.button-18-trash-on.png">
                        </span>
                        </a>
                    </li>
                    <li class="reverse-action-play">
                        <a href="#" class="button button-on">
                        <span>
                            <img src="blubster/imgs/ico.button-18-play-off.png">
                            <img src="blubster/imgs/ico.button-18-play-on.png">
                        </span>
                        </a>
                    </li>
                    <li class="reverse-action-share">
                        <a href="#" class="button button-off">
                        <span>
                            <img src="blubster/imgs/ico.button-18-share-off.png">
                            <img src="blubster/imgs/ico.button-18-share-on.png">
                        </span>
                        </a>
                        <div class="bubble action-report-bubble">
                            <span class="bubble-pin"></span>
                            <a href="#" class="bubble-close"></a>
                            <p class="title">Share:</p>
                            <form method="post" action="#">
                                <fieldset>
                                    <legend>Share:</legend>
                                    <textarea rows="5" cols="25"></textarea>
                                    <p class="subtitle">
                                        {{- "Share to:" -}}
                                        <a href="#" class="cog">
                                            <img src="blubster/imgs/ico.button-10-cog-on.png">
                                        </a>
                                    </p>
                                    <ul class="share">
                                        <li>
                                            <a href="#" class="button button-off">
                                            <span>
                                                <img src="blubster/imgs/ico.button-18-facebook-off.png">
                                                <img src="blubster/imgs/ico.button-18-facebook-on.png">
                                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="button button-off">
                                            <span>
                                                <img src="blubster/imgs/ico.button-18-twitter-off.png">
                                                <img src="blubster/imgs/ico.button-18-twitter-on.png">
                                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <button type="submit" class="button button-on">
                                                <img src="blubster/imgs/ico.button-18-share-on.png">
                                                <p>Share</p>
                                            </button>
                                        </li>
                                    </ul>
                                </fieldset>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="reverse-action-rename">
                <a href="#" class="button button-off">
                <span>
                    <img src="blubster/imgs/ico.button-18-rename-off.png">
                    <img src="blubster/imgs/ico.button-18-rename-on.png">
                    <p>Rename</p>
                </span>
                </a>
            </li>
            <li class="reverse-action-p2p">
                <a href="#" class="button button-off">
                <span>
                    <img src="blubster/imgs/ico.button-18-p2p-off.png">
                    <img src="blubster/imgs/ico.button-18-p2p-on.png">
                    <p>seed</p>

                    <span>
                        <img src="blubster/imgs/ico.toggle-24-on.png" class="toggle">
                        <img src="blubster/imgs/ico.toggle-24-off.png" class="toggle">
                    </span>
                </span>
                </a>
            </li>
        </ul>
    </div><!--end of .info-card-->
</li>
{%- endmacro -%}

{%- macro category(item) -%}
<li class="play-category-{{item.css}}{% if item.selected %} play-selected{% endif %}">
    <a href="#">
        <span>
            {{ item.name|capitalize }}
        </span>
    </a>
</li>
{%- endmacro -%}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App - PLAY</title>
    <link rel="stylesheet" type="text/css" href="blubster/css/blubster_base.css" />
    <link rel="stylesheet" type="text/css" href="blubster/css/blubster.css" />
    <link rel="stylesheet" type="text/css" href="blubster/css/blubster_fixes.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="js/prototype.min.js"></script>
    <script type="text/javascript" src="js/socket.io.min.js"></script>
    <script type="text/javascript" src="js/play.js"></script>
</head>
<body>
<div id="app">
    <div id="infotasks">
        <div class="undo">
            <p id="js_undo">{# filled by js #}</p>
        </div>
        <div class="tasks">
            <p id="js_tasks">{% if num_files is defined %}{{ toolbar_tasks(num_files, total_files) }}{% endif %}</p>
        </div>
        <div class="search-play">
            <form method="post" action="#">
                <fieldset>
                    <legend>Search form</legend>
                    <div class="search-text">
                        <label for="search-text">Search:</label>
                        <input type="text" name="search-text" class="search-text" placeholder="Type here your search">
                    </div>
                    <div class="search-button-find">
                        <button type="submit" class="search-button-find"><img src="blubster/imgs/ico.button-18-magni-off.png" alt="Find"></button>
                    </div>
                </fieldset>
            </form>
        </div><!--end of .search-main-->
    </div><!--end of #infotasks-->


    <div id="content">
        <div class="play">

            <div class="play-wrapright">
                <div class="play-breadcrumbs">
                    <ul id="js_breadcrumbs">
                        {%- for item in breadcrumbs %}{{ breadcrumb(item) }}{%- endfor %}
                    </ul>
                </div><!--end of .breadcrumbs-->
                <div class="play-items">
                    <ul id="js_cards">
                        {%- for item in playitems %}{{ card(item) }}{%- endfor %}
                    </ul>
                </div><!--end of .play-items-->
            </div>
            <div class="play-left">
                <ul class="play-category"  id="js_categories">
                    {% for item in categories %}{{ category(item) }}{%- endfor %}
                </ul>
            </div>
        </div> <!--end of .play-->




    </div><!--end of #content-->
</div><!--end of #app-->
</body>
</html>
