{%- block card -%}
<li class="{{item.class}}">
    {%- if item.new %}
    <span class="new">New</span>
    {%- endif %}
    <div class="image">
        <div class="filetype">
            <span class="filetype-{{ item.category }}"></span>
        </div>
        <img src="images/chipmunk.png">
    </div>
    <div class="text">
        <p>
            {{- item.title -}}
        </p>
    </div>
    <ul class="actions">
        <li class="action-play">
            <a href="#" class="action"></a>
        </li>
        <li class="action-info">
            <a href="#" class="action"></a>
            <div class="bubble info-bubble">
                <span class="bubble-pin"></span>
                <a href="#" class="bubble-close"></a>
                <p class="title">{{- item.title -}}</p>
                <div class="bubble-more-info">
                    <div class="bubble-more-info-photo">
                        <img src="images/chipmunk.png">
                    </div><!--end of .bubble-more-info-photo-->
                    <div class="bubble-more-info-text">
                        {{ item.description }}
                    </div><!--end of .bubble-more-info-text-->
                </div><!--end of .bubble-more-info-->
            </div><!--end of .info-bubble-->

        </li>
        <li class="action-more">
            <a href="#" class="action"></a>
        </li>
    </ul>
</li>
{%- endblock -%}
{%- block category -%}
<li class="play-category-{{item.category}}{% if item.selected }} play-selected{% endif %}">
    <a href="#">
        <span>
            {{ item.category|capitalize }}
        </span>
    </a>
</li>
{%- endblock -%}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>App - PLAY</title>

    <link rel="stylesheet" type="text/css" href="http://appweb.foofind.com/static/blubster/css/blubster.css" />
    <link rel="stylesheet" type="text/css" href="blubster/css/blubster.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="app">
    <div id="infotasks">
        <div class="tasks">
            <p><strong>{{numfiles}}</strong> of {{totalfiles}} files on your Blubster library</p>
        </div>
        <div class="search-play">
            <form method="post" action="#">
                <fieldset>
                    <legend>Search form</legend>
                    <div class="search-text">
                        <label for="search-text">Search:</label>
                        <input type="text" name="search-text" class="search-text" placeholder="Type here your search">
                    </div>
                    <div class="search-button-find">
                        <button type="submit" class="search-button-find"><img src="blubster/imgs/ico.button-18-magni-off.png" alt="Find"></button>
                    </div>
                </fieldset>
            </form>
        </div><!--end of .search-main-->
    </div><!--end of #infotasks-->


    <div id="content">
        <div class="play">

            <div class="play-wrapright">
                <div class="play-breadcrumbs">
                    <ul>
                        {%- for item in breadcrumbs %}
                        <li>
                            <a href="#">
                                Folder 1
                            </a>
                        </li>
                        {%- endfor %}
                    </ul>
                </div><!--end of .breadcrumbs-->
                <div class="play-items">
                    <ul>
                        {%- for item in playitems %}{{ self.card() }}{%- endfor %}
                    </ul>
                </div><!--end of .play-items-->
            </div>
            <div class="play-left">
                <ul class="play-category">
                    {% for item in categories %}{{ self.category() }}{%- endfor %}
                </ul>
            </div>
        </div> <!--end of .play-->




    </div><!--end of #content-->
</div><!--end of #app-->
</body>
</html>
