$general_background_color: #eaeaea;
$general_text_color: #333;
$general_font_family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;

$color1: #19bffe;
$bcolor2: #17afe8;
$bgcolor1: #bde0ec;
$bcolor1: #98d3e7;
