$generalbackgroundcolor: #eaeaea;
$generaltextcolor: #333;
$generalfontfamily: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;

$color1: #19bffe;
$bcolor2: #17afe8;
$bgcolor1: #bde0ec;
$bcolor1: #98d3e7;
$bgcolor2: #0080b2;
$bgcolor3: #dc01bb;
