@mixin rounded-corners($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  /*behavior: url(/static/border-radius.htc);*/
}

/* ----------------------------------------------------------- GENERAL */
body {
  font-size:62.5%;
  line-height:150%;
  font-family: $generalfontfamily;
  text-align: center;
  color: $generaltextcolor;
  background: $generalbackgroundcolor;
  overflow:hidden;
}

*, html, body, div, form {
  margin: 0;
  padding: 0;
  border: 0 none;
}

html {
  overflow:hidden;
}

ul, ol, dl {
  margin: 0;
  list-style: none;
}

li, dt, dd {
  list-style: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  clear: both;
  width: 100%;
  color: $generalbackgroundcolor;
  border: none;
  background: $generalbackground_color;
  font-size: 0.1em;
  line-height: 0.1em;
}

img {
  border:none;
}

abbr {
  border: 0;
  text-decoration: none;
}

.left{
  float:left;
}
.right{
  float:right;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - INFOTASKS */
#infotasks{
  min-width:$minwidth;
  background:#fff;
  width:100%;
  padding:0;
  height:6em;
  border-bottom:1px solid #ccc;
  position:absolute;
  z-index:1;

.tasks{
  margin-left:2em;
  margin-right:2em;
  margin-top:1.75em;

  p{
    font-family: $generalfontfamily;
    font-size:1.5em;
    line-height:1.5em;
    height:1.5em;
  }
}
}
