<<<<<<< HEAD
@mixin rounded-corners($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  /*behavior: url(/static/border-radius.htc);*/
}
=======

>>>>>>> 3bfa9f4d2cac90a34add65b604a4315f0e135db8
