@mixin rounded-corners($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}

/* ----------------------------------------------------------- GENERAL */
body {
  font-size:62.5%;
  line-height:150%;
  font-family: $generalfontfamily;
  color: $generaltextcolor;
  background: $generalbackgroundcolor;
  overflow:hidden;
}

*, html, body, div, form {
  margin: 0;
  padding: 0;
  border: 0 none;
}

html {
  overflow:hidden;
}

ul, ol, dl {
  margin: 0;
  list-style: none;
}

li, dt, dd {
  list-style: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  clear: both;
  width: 100%;
  color: $generalbackgroundcolor;
  border: none;
  background: $generalbackgroundcolor;
  font-size: 0.1em;
  line-height: 0.1em;
}

img {
  border:none;
}

abbr {
  border: 0;
  text-decoration: none;
}

.left{
  float:left;
}
.right{
  float:right;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - INFOTASKS */
#infotasks{
  background:#fff;
  width:100%;
  padding:0;
  height:6em;
  border-bottom:1px solid #ccc;
  position:absolute;
  z-index:1;

  .tasks p {
    font-size:1.5em;
    line-height:1.2em;
  }
}
.applocal #infotasks .tasks {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.75em;
  p {
    font-size: 1.5em;
    line-height: 1.5em;
    height: 1.5em;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ERROR PAGE */
.error {
  position:absolute;
  margin-top:-21em;
  top:50%;
  left:50%;
  width:50em;
  margin-left:-25em;

  .error-img{
    height:28em;
    text-align: center;
    top:0;
    img{
      margin:0 auto;
    }
  }

  .error-text{
    margin:2em 0em 5em;

    p {
      text-align: center;
      color: #333;
      font-size:1.4em;
      line-height:1.4em;

      &.error-title{
        font-size:1.8em;
        font-weight:bold;
        margin-bottom:1em;
      }
    }
  }
}
