$generalbackgroundcolor: #eaeaea;
$generaltextcolor: #333;
$generalfontfamily: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;

$color1: #e1007a;
$color2: #ccc;
$color3: #b1e1dc;
$bcolor1: #eeeee5;
$bcolor2: #cd0069;
$bgcolor1: #b1e1dc;
$bgcolor2: #a60055;
$bgcolor3: #bcc0b4;

$backgroundcolorfolder: #af005a;
$backgroundcolorfile: #6f6f6f;
