// FIXME: Estas variables contienen los valores
// para blubster. Cambiarlos para foofind.
$general_background_color: #eaeaea;
$general_text_color: #333;
$general_font_family: 'Open Sans','helvetica neue',helvetica,arial,sans-serif;


$color1: #e1007a;
$bcolor2: #cd0069;
$bgcolor1: #fdbfe1;
$bcolor1: #eeeee5;
