{% from "helpers.html" import flash with context -%}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>App - FIND</title>
    {%- assets "css_" + g.license_name -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {%- endassets -%}
    {%- assets "js_appweb" -%}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets -%}
    <![if !IE]>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <![endif]>
</head>
<body>
<div id="app">
    {%- block content %}{%- endblock %}
</div><!--end of #app-->
</body>
</html>
