<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>App - FIND</title>
    {% if g.wakalaka %}
        <link rel="stylesheet" type="text/css" href="http://test.wakalaka.es/{{g.license_name}}/appweb/static/{{g.license_name}}/css/{{g.license_name}}.css"/>
    {% else %}
        {%- assets "css_" + g.license_name -%}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {%- endassets -%}
    {% endif %}

    {{ g.analytics_code|default('<script type="text/javascript"> \n  var _gaq = _gaq || []; \n _gaq.push([\'_setAccount\', \'UA-808946-22\']);_gaq.push([\'_trackPageview\']); \n       (function() {\n        var ga = document.createElement(\'script\'); ga.type = \'text/javascript\'; ga.async = true; \n         ga.src = (\'https:\' == document.location.protocol ? \'https://ssl\' : \'http://www\') + \'.google-analytics.com/ga.js\'; \n         var s = document.getElementsByTagName(\'script\')[0]; s.parentNode.insertBefore(ga, s); \n       })(); \n    </script>')|safe }}

    {%- assets "js_appweb" -%}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets -%}
    <![if !IE]>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <![endif]>
    {% block head %}{% endblock %}
</head>
<body>
<div id="app">
    {%- block content %}{%- endblock %}
</div><!--end of #app-->
</body>
</html>
