<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {%- assets "css_" + g.license_name -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {%- endassets -%}
    {%- assets "js_appweb" -%}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets -%}
    {{ g.analytics_code|safe }}
    <![if !IE]>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <![endif]>
</head>
<body>
<div id="app">
    <form id="go_home" method="POST" action="{{url_for(g.home_route)}}">
        {%- if g.version_code %}<input type="hidden" name="version" value="{{g.version_code}}">{%- endif %}
    </form>
    <div class="error">
        <div class="error-img">
            <img src="{{g.static_prefix}}/blubster/imgs/ico.error-oops-280.png" alt="Error">
        </div><!--end of .error-img-->
        <div class="error-text">
            <p class="error-title">{{_("Oops, you found an error!")}}</p>
            <p>{{_("Sorry we couldn't complete the request.")}} {{_("%(click)s to try another search.", click="<a href=\"javascript:$('go_home').submit()\">"|safe+_("click here")+"</a>"|safe)|capitalize}}</p>
        </div><!--end of .error-text-->
    </div><!--end of .error-->
</div><!--end of #app-->
</body>
</html>
