{% extends "base.html" %}

{% macro render_installbutton(plugin, action="download") %}
<a class="installbutton" id="plugin:{{plugin.name}}"
    {%- if action != "download" %}
    data-action="{{action}}"
    {%- endif %}
    {%- if plugin.checksum %}
    data-checksum="{{plugin.checksum}}"
    {%- endif %}
    {%- if plugin.minversion %}
    data-minversion="{{plugin.minversion}}"
    {%- endif %}
    href="action:download({{plugin.get_download_json(reqos)}})"></a>
{% endmacro %}

{% macro render_plugins(category, in_category=False) %}
{% if category.plugins %}
<ul class="plugincards">
{% for plugin in category.plugins %}
    <li>
        <a class="plugincard" href="{{
            url_for('extras.info', lang=g.lang, category=category.name, name=plugin.name, page=page)
            if in_category else
            url_for('extras.info', lang=g.lang, name=plugin.name, page=page)
            }}" title="More...">
            <h3>{{plugin.title|capitalize}}</h3>
            <p>{{plugin.summary}}</p>
        </a>
        {{ render_installbutton(plugin) }}
    </li>
{% endfor %}
</ul>
<span class="clearer"></span>
{% endif %}
{% endmacro %}

{% macro render_plugin_list(plugins) %}
<ul>
{% for plugin in plugins %}
    <li class="result-item just-added result-plugin result-{{ 'even' if loop.index is divisibleby(2) else 'odd' }}">
        <div class="wrap-result">
            <div class="result-main-data">
                <div class="wrap-result-title">
                    <div class="result-title-info">
                        <div class="result-title" title="{{ plugin.title }}">
                            <p class="result-title">
                                <span>{{ plugin.title }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="result-info">
                        <ul class="result-info">
                            <li class="sele-summary">
                                <span>{{ plugin.summary }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="result-more-info">
                    <div class="result-more-info-text">
                        <p>{{ plugin.description|markdown }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-actions">
            <ul class="result-actions">
                <li class="result-action-download">
                    {{ render_installbutton(plugin, 'uninstall') }}
                </li>
                <li class="result-action-info">
                    <a class="button button-off">
                        <span>
                            {{- "" -}}<img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-info-off.png">
                            {{- "" -}}<img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-info-on.png">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
{% endfor %}
</ul>
{% endmacro %}

{% block head %}
<script type="text/javascript">
(function(){
    // Global variables
    var ununinstallable = $A(); // updated on dom:ready
    // Public JS interface
    window.update_plugin_state=function(data){
        // Update plugin data of current page according to given client state
        var c="", t="", a="", d="", n, p = 0,
            installed = 0,
            actions = ["action:download", "action:uninstall"];
        for(var name in data){
            n = $("plugin:" + name);
            if(n===null) continue;
            switch(parseInt(data[name])){
                case -4:
                    // Installed, but server version is incompatible
                    if(n.readAttribute("data-action")=="uninstall"){
                        c = "state_uninstall";
                        t = "uninstall";
                        a = "action:uninstall";
                        d = "Uninstall this plugin";
                        }
                    else{
                        c = "state_non_compatible";
                        t = "non updateable";
                        a = "action:download";
                        d = "Plugin update is not compatible with current program version";
                        }
                    break;
                case -3:
                    // Server version is incompatible
                    c = "state_non_compatible";
                    t = "uncompatible";
                    a = "action:download";
                    d = "Plugin not compatible with current program version";
                    break;
                case -2:
                    // Download or install failed
                    c = "state_failed";
                    t = "failed";
                    a = "action:download";
                    d = "Install failed, click for retry";
                    break;
                case -1:
                    // Server version is different than installed version
                    c = "state_update";
                    if(n.readAttribute("data-action")=="uninstall")
                        t = "outdated";
                    else
                        t = "update";
                    a = "action:download";
                    d = "Click to install an updated version of this plugin";
                    break;
                case 0:
                    // Server version is available
                    c = "state_install";
                    if(n.readAttribute("data-action")=="uninstall")
                        t = "reinstall";
                    else
                        t = "install";
                    a = "action:download";
                    d = "Click to install this plugin";
                    break;
                case 1:
                    // Downloading and installing
                    p = Math.round((data[name]-1)*100); // Progress
                    c = "state_downloading";
                    t = "downloading ( " + p + "% )";
                    a = "action:uninstall";
                    d = "This plugin is being downloaded. Click to cancel.";
                    break;
                    }
                case 2:
                    // Installed but not initialized
                case 3:
                    // Installed
                default:
                    if(n.readAttribute("data-action")=="uninstall"){
                        if(ununinstallable.indexOf(name)==-1){
                            c = "state_uninstall";
                            t = "uninstall";
                            d = "Uninstall this plugin";
                            }
                        else{
                            c = "state_non_compatible";
                            t = "internal";
                            d = "This plugin cannot be uninstalled";
                            }
                        a = "action:uninstall";
                        }
                    else{
                        c = "state_installed";
                        t = "installed";
                        a = "action:download";
                        d = "Plugin already installed";
                        }
                    installed += 1;
                }
            // Update old action with new action
            for(var i=0,l=actions.length;i<l;i++)
                if(n.href.substr(0, actions[i].length)==actions[i]){
                    if(actions[i] != a)
                        n.href = a + n.href.substr(actions[i].length);
                    break;
                    }
            n.className = "installbutton " + c; // Update class
            n.update(t); // Update text
            n.title = d; // Update tooltip
            }
        n = $("numinstalled");
        if(n) n.update(installed);
        };
    window.update_plugin_list=function(data){
        // Show information about plugins for given client data
        var form=$("plugin_list_form"), pluginlist="", ununinstallablelist="";
        for(var i=0,l=data.length;i<l;i++){
            pluginlist += "," + data[i].name;
            if(!data[i].uninstallable) ununinstallablelist += "," + data[i].name;
            };
        form.plugins.value = pluginlist.substr(1);
        form.ununinstallable.value = ununinstallablelist.substr(1);
        form.submit();
        };
    // dom:ready initialization
    document.observe("dom:loaded", function(){
        // Initialize events and call 'state' action with current shown plugins
        var elements, elm, data, r=[],
            clickable_states=["uninstall",  "install", "update", "failed"],
            valid_int_data=["checksum"],
            valid_str_data=["minversion", "action"],
            info_cback = function(){
                var item=this.up(".result-item");
                this.className=item.hasClassName("result-expanded")?"button button-off":"button button-on";
                item.toggleClassName("result-expanded");
                },
            cback = function(e){
                // Block non-clickable states
                for(var i=0,l=clickable_states.length;i<l;i++)
                    if(this.hasClassName("state_" + clickable_states[i]))
                        return true;
                e.stop();
            };
        // Update ununinstallablelist plugin list
        ununinstallable = $A($("plugin_list_form").ununinstallable.value.split(","));
        // Create shown plugin data array and attach click restriction events
        elements=$$(".installbutton");
        for(var i=0,l=elements.length;i<l;i++){
            elm = elements[i];
            data = {name: elm.id.substr(7)};

            // Numeric data properties
            for(var j=0,k=valid_int_data.length;j<k;j++)
                if(elm.hasAttribute("data-" + valid_int_data[j]))
                    data[valid_int_data[j]] = parseInt(elm.readAttribute("data-checksum"));

            // String data properties
            for(var j=0,k=valid_str_data.length;j<k;j++)
                if(elm.hasAttribute("data-" + valid_str_data[j]))
                    data[valid_str_data[j]] = elm.readAttribute("data-checksum");

            r[r.length] = data;
            elm.observe("click", cback);
            }
        // Attach info button
        elements=$$(".result-action-info .button");
        for(var i=0,l=elements.length;i<l;i++){
            elm = elements[i];
            elm.observe("click", info_cback);
            }
        // Send plugin data to client using action:state(JSON)
        document.location.href = "action:state(" + Object.toJSON(r) + ")";
        });
    }());
</script>
{% endblock %}

{% block content %}
<form id="plugin_list_form" method="post" class="hiddenform" action="{{url_for('extras.list', lang=g.lang)}}">
<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}"/>
<input type="hidden" name="plugins" value="{{ form_plugins if form_plugins is defined else ''}}"/>
<input type="hidden" name="ununinstallable" value="{{ form_ununinstallable if form_ununinstallable is defined else ''}}"/>
</form>
<div id="infotasks">
    {% if plugin %}
    <p class="title">{{plugin.title|capitalize}}</p>
    <p class="goback"><a href="{{
        url_for('extras.category', lang=g.lang, page=page, category=category.name)
        if category else
        url_for('extras.category', lang=g.lang, page=page)
        }}">Go back</a></p>
    {% elif plugins is defined %}
    <p class="title"><span id="numinstalled">{{ plugins|length }}</span> installed plugins</p>
    <p class="goback"><a href="{{url_for('extras.category', lang=g.lang)}}">Go back</a></p>
    {% elif category %}
    <p class="title">{{category.title|capitalize}}</p>
    <p class="goback"><a href="{{url_for('extras.category', lang=g.lang)}}">Go back</a></p>
    {% else %}
    <p class="title">Categories</p>
    <p class="goback"><a href="action:list()">My installed plugins</a></p>
    {% endif %}
</div>
<div id="content">
    {% if plugin %}
    <div class="plugin">
        {% if plugin.images %}
        <div class="images">
            {% for image, alt in plugin.images %}
                <img src="{{url_for('extras.image', lang=g.lang, name=plugin.name, image=image)}}" alt="{{alt}}"/>
            {% endfor %}
        </div>
        {% endif %}
        <div class="author">Uploaded by: <strong>{{ plugin.user }}</strong></div>
        <div class="description">{{ plugin.description|markdown }}</div>
        <div class="download">{{ render_installbutton(plugin) }}</div>
    </div>
    {% elif plugins %}
        {{ render_plugin_list(plugins) }}
    {% elif category %}
        {{ render_plugins(category, True) }}
        {% if page > 1 %}
        <a href="{{url_for('extras.category', lang=g.lang, category=category.name, page=page-1)}}">previous</a>
        {% endif %}
        {% for p in range(1, page, 1) %}
            <a href="{{url_for('extras.category', lang=g.lang, category=category.name, page=p)}}">{{p}}</a>
        {% endfor %}
        <a href="{{url_for('extras.category', lang=g.lang, category=category.name, page=page+1)}}">next</a>
    {% elif categories %}
        {% for category in categories %}
        <h2 class="plugin_category">{{category.title|capitalize}}</h2>
        {{ render_plugins(category) }}
        <a href="{{url_for('extras.category', lang=g.lang, category=category.name, page=1)}}">More...</a>
        {% endfor %}
    {% else %}
    <p>Nothing to show</p>
    {% endif %}
</div>
{% endblock %}
