{%- for file in files %}{%- set source_data=file['view']['sources'][file['view']['sources']|first] %}
<!--FI:{{ file['file']['id'] }} {{ {"name":file['view']['fn'],"type":file['view']['file_type'],"seeds":file['view']['seeds'],"leechs":file['view']['leechs'] , "img":('http://'~file['view']['first_image_server']~'/'~file['view']['images_id']~'0' if 'images_server' in file['view'] else ""), "magnet": file['view']['torrent_sources']['magnet'], "sources":file['view']['torrent_sources']['sources_list'] }|tojson|safe }}-->
<li data-id="{{ file['file']['id'] }}" data-server="{{ file['file']['s'] }}" class="result-item just-added result-{{ file['view']['file_type'] }}">
    <div class="wrap-result">
        <div class="result-main-data">
            <div class="wrap-result-title">
                <div class="result-title-info">
                    <div class="result-title" title="{% if 'fnhs' in file['view'] %}{{ file['view']['fnhs']|safe }}{% else %}{{ file['view']['fn']|safe }}{% endif %}">
                        <p class="result-title">
                            <span>
                                {% if 'fnhs' in file['view'] %}{{ file['view']['fnhs']|safe }}{% else %}{{ file['view']['fn']|safe }}{% endif %}
                            </span>
                        </p>
                    </div>{# end of div.result-title #}
                    <div class="result-info">
                        <ul class="result-info">
                            <li class="sele-rating sele-rating-{{file['view']['health']}}">
                                <span class="sele-seeds">
                                    {{file['view']['md']['seeds'] or "0"}}
                                    <abbr title="seeds">
                                    se.
                                    </abbr>
                                </span>
                                <span class="sele-dot"> · </span>
                                <span class="sele-leechers">
                                    {{file['view']['md']['leechs'] or "0"}}
                                    <abbr title="leechers">
                                    le.
                                    </abbr>
                                </span>
                            </li>{# end of .sele-rating #}
                            {% set size, unit = number_size_format(file['file'].get('z',0)) %}
                            {%- if size %}
                            <li class="sele-size">
                                <span class="sele-size-value">
                                {{ size }}
                                </span>
                                <span class="sele-size-unit">
                                    <abbr title="{{ unit[1] }}">
                                    {{ unit[0] }}
                                    </abbr>
                                </span>
                            </li>{# end of .sele-rating #}
                            {% endif %}
                        </ul>{# end of ul.result-info #}
                    </div>{# end of div.result-info #}
                </div>{# end of .result-title-info #}
            </div>{# end of .wrap-result-title #}

            <div class="result-rating-love">
                <div class="result-rating">
                    <p class="result-rating">
                        <span>
                        {{(('<img src="'+g.static_prefix+'/'+g.license_name+'/imgs/ico.star-14-full.png">')*file['view']['rating'] + ('<img src="'+g.static_prefix+'/'+g.license_name+'/imgs/ico.star-14-empty.png">')*(5-file['view']['rating']))|safe}}
                        </span>
                    </p>
                </div>{# end of .result-rating #}

                <div class="result-love">
                    <ul class="result-love">
                        <li class="result-love">
                            <a href="vote:1{{ file['file']['id'] }}" class="button button-off button-noright">
                                <span>
                                    <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-love-off.png">
                                    <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-love-on.png">
                                </span>
                            </a>
                        </li>
                        <li class="result-hate">
                            <a href="vote:0{{ file['file']['id'] }}" class="button button-off button-noleft">
                                <span>
                                    <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-hate-off.png">
                                    <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-hate-on.png">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>{# end of .result-love #}
            </div>{# end of .result-rating-love #}

            <div class="result-more-info">
                {% if 'images_server' in file['view'] %}
                <div class="result-more-info-photo">
                    <img alt="{{ file['view']['fn']|safe }}" src="http://{{ file['view']['first_image_server'] }}/{{ file['view']['images_id'] }}0" />
                </div>
                {% endif %}
                <div class="result-more-info-text">
                    {% if "short_desc" in file['view']['md'] %}
                        <p>{{ file['view']['md']['short_desc'] }}</p>
                    {% endif %}
                </div>
            </div>{# end of .result-more-info #}
        </div>{# end of .result-main-data #}
    </div>{# end of .wrap-result #}

    <div class="result-actions">
        <ul class="result-actions">
            <li class="result-action-download">
                <a href="download:{{ file['file']['id'] }}" class="button button-on">
                    <span>
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-download-off.png">
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-download-on.png"><p>Download</p>
                    </span>
                </a>
            </li>
            <li class="result-action-info">
                <a class="button button-off">
                    <span>
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-info-off.png">
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-info-on.png">
                    </span>
                </a>
            </li>
        </ul>
        <div class="result-more-actions">
            <ul class="result-actions">
                {#<li class="result-action-share">
                    <a href="#" class="button button-off">
                    <span>
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-share-off.png">
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-share-on.png">
                    </span>
                    </a>
                </li>#}
                <li class="result-action-report">
                    <a href="#" class="button button-off">
                    <span>
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-report-off.png">
                        <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-report-on.png">
                    </span>
                    </a>
                </li>
            </ul>
        </div>{# end of .result-more-info #}
    </div>{# end of .result-actions #}
</li>{# end of .result-item #}
{%- endfor %}
