{% extends "base.html" %}
{% block content %}
    <div class="find-main">
        <div class="find-logo">
            <img src="{{g.static_prefix}}/blubster/imgs/logo.blubster-classic.png" alt="Blubster">
        </div><!--end of .logo-->
        <div class="search-main">
            {{flash()}}
            <form method="post" action="{{ url_for('files.search') }}">
                    {% if g.wakalaka %}
                        <input type="hidden" name="wklk" value="1">
                    {%endif%}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <fieldset>
                    <legend>Search form</legend>

                    <div class="search-text">
                        <label for="q">Search:</label>
                        <input type="text" class="search-text" placeholder="Type here your search" id="q" name="q" autocomplete="off" value="">
                    </div>
                    <div class="search-filetype">
                        <div id="filetype_active"></div>
                        <ul id="filetype_select" class="loading">
                            <li><span class="all">All</span></li>
                            <li><span class="video">Video</span></li>
                            <li><span class="audio">Audio</span></li>
                            <li><span class="image">Image</span></li>
                            <li><span class="document">Document</span></li>
                            <li><span class="software">Software</span></li>
                        </ul>
                        <input type="hidden" id="new_filetype" name="t" value="all">
                    </div>
                    <div class="search-button-find">
                        <button type="submit" class="search-button-find"><img src="{{g.static_prefix}}/blubster/imgs/ico.button-18-magni-off.png" alt="Find"></button>
                    </div>
                </fieldset>
            </form>
        </div><!--end of .search-main-->
    </div><!--end of .find-main-->
{% endblock %}
