{% extends "base.html" %}
{% from "helpers.html" import flash%}
{% block head %}
    {%- assets "js_search" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{% endblock %}
{% block content %}
    <div id="infotasks">
        <div class="search-main">
            {{flash()}}
            <form id="current_search">
            <input type="hidden" id="query" name="query" value="{{query}}">
            <input type="hidden" id="filetype" name="filetype" value="{{filetype}}">
            <input type="hidden" id="last_items" name="last_items" value="{{last_items}}">
            </form>
            <form id="new_search" method="post" action="{{ url_for('files.search') }}">
    {% if g.wakalaka %}
        <input type="hidden" name="wklk" value="1">
    {%endif%}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <fieldset>
                    <legend>Search form</legend>
                    <div class="search-text">
                        <label for="search-text">Search:</label>
                        <input type="text" class="search-text" placeholder="Type here your search" id="q" name="q" autocomplete="off" value="{{g.args['q']}}">
                    </div>
                    <div class="search-filetype">
                        <select name="t" id="filetype_combo" class="filetype">
                            <option value="All" {{"selected=''" if not g.args['type']}}>All</option>
                            <option value="video" {{"selected=''" if "video" in g.args['type']}}>Video</option>
                            <option value="audio" {{"selected=''" if "audio" in g.args['type']}}>Audio</option>
                            <option value="image" {{"selected=''" if "image" in g.args['type']}}>Image</option>
                            <option value="document" {{"selected=''" if "document" in g.args['type']}}>Document</option>
                            <option value="software" {{"selected=''" if "software" in g.args['type']}}>Software</option>
                        </select>
                        <ul class="filetype" id="filetype_ul">
                            <li class="filetype-all">All</li>
                            <li class="filetype-video">Video</li>
                            <li class="filetype-audio">Audio</li>
                            <li class="filetype-image">Image</li>
                            <li class="filetype-document">Document</li>
                            <li class="filetype-software">Software</li>
                        </ul>
                    </div>
                    <div class="search-button-find">
                        <button type="submit" class="search-button-find"><img src="{{g.static_prefix}}/blubster/imgs/ico.button-18-magni-off.png" alt="Find"></button>
                    </div>
                </fieldset>
            </form>
        </div><!--end of .search-main-->
    </div><!--end of #infotasks-->

    <div id="content">
        <ul id="results">
            {% include "file.html" with context %}
        </ul><!--end of .results-->
        <div id="no-results" class="error">
            <div class="error-img">
                <img src="{{g.static_prefix}}/blubster/imgs/ico.error-sad-280.png" alt="No results">
            </div><!--end of .error-img-->
            <div class="error-text">
                <p class="error-title">No results!</p>
                <p>There are no results for your search. Try another search!</p>
            </div>
        </div>
        <div id="loading-results"><div>Loading results</div></div>
    </div><!--end of #content-->


    <div class="report">
        <form method="post" action="#">
            <fieldset>
                <legend>Report</legend>

                <ul>
                    <li>
                        <label for="report-name" class="medium label-textright">Name:</label>
                        <input type="text" name="report-name" id="report-name" class="medium">
                    </li>
                    <li>
                        <label for="report-surname" class="medium label-textright">Surname:</label>
                        <input type="text" name="report-surname" id="report-surname" class="medium">
                    </li>
                    <li>
                        <label for="report-company" class="medium label-textright">Company:</label>
                        <input type="text" name="report-company" id="report-company" class="medium">
                    </li>
                    <li>
                        <label for="report-email" class="medium label-textright">Email:</label>
                        <input type="text" name="report-email" id="report-email" class="medium">
                    </li>
                    <li>
                        <label for="report-phone" class="medium label-textright">Phone:</label>
                        <input type="text" name="report-phone" id="report-phone" class="medium">
                    </li>
                    <li>
                        <label for="report-reason" class="medium label-textright">Complaint reason:</label>
                        <input type="text" name="report-reason" id="report-reason" class="medium">
                    </li>
                    <li>
                        <label for="report-message" class="medium label-textright">Message:</label>
                        <textarea name="report-message" id="report-message" class="medium" rows="5" cols="25"></textarea>
                    </li>
                </ul>

                <input type="submit" class="button button-off submit">
            </fieldset>
        </form>
    </div> <!--end of .report-->
{% endblock %}
