{% extends "base.html" %}
{% block head %}
    {%- assets "js_search" %}
        <script src="{{ ASSET_URL }}"></script>
    {%- endassets %}
{% endblock %}
{% block content %}
    <div id="infotasks">
        <div class="search-main">
            <div class="search-border">
                <form id="current_search">
                    <input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="query" name="query" value="{{query}}">
                    <input type="hidden" id="filetype" name="filetype" value="{{filetype}}">
                    <input type="hidden" id="last_items" name="last_items" value="{{last_items}}">
                </form>
                <form id="new_search" method="post" action="{{ url_for('files.search') }}">
                    {% if g.wakalaka %}
                        <input type="hidden" name="wklk" value="1">
                    {%endif%}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <fieldset>
                        <legend>Search form</legend>
                        <div class="search-text">
                            <label for="q">Search:</label>
                            <input type="text" class="search-text" placeholder="Type here your search" id="q" name="q" autocomplete="off" value="{{g.args['q']}}">
                        </div>
                        <div class="separator"></div>
                        <div class="search-filetype">
                            
                            <select id="new_filetype" name="t" data-placeholder="All">
                                <option class="all" value="all">All</option>
                                {% for cat in g.categories %}
                                    <option class="{{ cat[0] }}" value="{{ cat[0] }}" {{"selected" if cat[1]["q"] in g.args['type']}}>{{ cat[0] | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="separator"></div>
                        <div class="search-button-find">
                            <button type="submit" class="search-button-find"><img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.button-18-magni-off.png" alt="Find"></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div><!--end of .search-main-->
        <div class="tasks resultscount">{{result_number|safe}}</div>
    </div><!--end of #infotasks-->

    <div id="content">
        <ul id="results">
            {% include "file.html" with context %}
        </ul><!--end of .results-->
        <div id="no-results" class="error">
            <div class="error-img">
                <img src="{{g.static_prefix}}/{{g.license_name}}/imgs/ico.error-sad-280.png" alt="No results">
            </div><!--end of .error-img-->
            <div class="error-text">
                {%- if query %}
                    <p class="error-title">No results!</p>
                    <p>There are no results for this search. Feel free to try with other search terms.</p>
                {%- else %}
                    <p class="error-title">Please write something!</p>
                    <p>No search terms. Please write something to search and try again.</p>
                {%- endif %}
            </div>
        </div>
        <div id="loading-results"><div> </div></div>
    </div><!--end of #content-->

    <div id="report">
        <a href="#" id="close_report" class="close"></a>
        <form id="report_form" method="post" action="{{url_for('files.complaint')}}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" id="file_id" name="file_id" value="">
            <fieldset>
                <legend>Report</legend>
                <label>Fields marked with a star (*) are required.</label>
                <ul>
                    <li>
                        <label for="name" class="medium label-textright">* Name:</label>
                        <input type="text" name="name" id="name" class="medium">
                    </li>
                    <li>
                        <label for="surname" class="medium label-textright">* Surname:</label>
                        <input type="text" name="surname" id="surname" class="medium">
                    </li>
                    <li>
                        <label for="company" class="medium label-textright">Company:</label>
                        <input type="text" name="company" id="company" class="medium">
                    </li>
                    <li>
                        <label for="email" class="medium label-textright">* Email:</label>
                        <input type="text" name="email" id="email" class="medium">
                    </li>
                    <li>
                        <label for="phone" class="medium label-textright">Phone:</label>
                        <input type="text" name="phone" id="phone" class="medium">
                    </li>
                    <li>
                        <label for="reason" class="medium label-textright">* Complaint reason:</label>
                        <input type="text" name="reason" id="reason" class="medium">
                    </li>
                    <li>
                        <label for="message" class="medium label-textright">* Message:</label>
                        <textarea name="message" id="message" class="medium" rows="5" cols="25"></textarea>
                    </li>
                    <li>
                        <input type="checkbox" name="accept_tos" id="accept_tos" class="checkbox margin-left2">
                        <label for="accept_tos" class="long-auto">* I have read and accept the <a href="http://foofind.com/es/tos" target="_blank">Terms of use</a> and <a href="http://foofind.com/es/privacy" target="_blank">Privacy policy</a>.</label>
                    </li>
                </ul>
                <input type="submit" class="button button-off submit">
            </fieldset>
        </form>
    </div> <!--end of .report-->
{% endblock %}
